{% include navbar.html %}
    <!-- Header -->
    <header>
        <div class="container">
            <img class="logo-heading"  src='{{ site.baseurl }}/img/logoheader.png'>
            <div class="intro-text">

                <div class="spotiplayer"><iframe src="https://open.spotify.com/embed-podcast/show/7LLA2C6YtOgKzT3Nhhkjhf" width="100%" height="232" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe></div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-6 col-sm-3">uno</div>
                <div class="col-xs-6 col-sm-3">dos</div>
                <div class="col-xs-6 col-sm-3">tres</div>
                <div class="col-xs-6 col-sm-3">cuatro</div>
            </div>
        </div>
    </header>


