{% include navbar.html %}
    <!-- Header -->
    <header>
        <div class="container">
            <img class="logo-heading"  src='{{ site.baseurl }}/img/logoheader.png'>
            <div class="intro-text">
                <!---
                <div class="intro-lead-in">Welcome To Our Studio!</div>
                <div class="intro-heading">It's Nice To Meet You</div>

                    url('{{ site.baseurl }}imgheader-bg.jpg')

                    style="width: 10%; max-width: 100px; background-color: aquamarine;"
                -->
                <a href="#services" class="page-scroll btn btn-xl">Listen to ussss</a>
        </div>
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->

