{% include navbar.html %}
    <!-- Header -->
    <header>
        <div class="container">
            <img class="logo-heading"  src='{{ site.baseurl }}/img/logoheader.png'>
            <div class="intro-text">
                <iframe class="embeddedplayer" src="https://anchor.fm/theoffercast/embed/episodes/021-Baby-Steps-Across-the-Tracks-ehni9l/a-a2sdpku" frameborder="0" scrolling="no"></iframe>
                <!--<iframe class="onlineplayer" src="https://anchor.fm/theoffercast/embed" height="200em" width="800em" frameborder="0" scrolling="no"></iframe>-->
                <!--<div class="spotiplayer"><iframe src="https://open.spotify.com/embed-podcast/show/7LLA2C6YtOgKzT3Nhhkjhf" width="100%" height="232" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe></div>-->
                <a class="playlistlink" href="https://anchor.fm/theoffercast" target="blank">More Episodes</a>
                <br>
        </div>
    </header>


