 <!-- Portfolio Modals -->
 <!-- This is how the episodes will be displayed once maximized -->
 {% for post in site.posts %}
    <div class="portfolio-modal modal fade" id="portfolioModal{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ post.title }}</h2>
                            <hr class="star-primary">
                            <img src="../img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                            <p>{{ post.description }}</p>
                            <ul class="list-inline item-details">
                                <li>Guests:
                                    <strong><a href="">{{ post.guests }}</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong><a href="">{{ post.project-date }}</a>
                                    </strong>
                                </li>
                                <li>Genre:
                                    <strong><a href="">{{ post.genre }}</a>
                                    </strong>
                                </li>
                                <li>
                                    <a href= "">
                                        <img href= {{ post.spoti-link }} class="listen-spotify-button" alt="link to Spotify" src="../img/spoti-pisten.png">
                                     </a>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
